{% extends "base.html" %}

{% block content %}
<p></p>
<h3 class="display-3 text-center h3-1">PhotoShare</h3>
<p></p>
<div class="container">
    <div id="SlidesOnly" class="carousel slide border shadow-lg d-block bg-body rounded" data-ride="carousel"
         data-interval="2000">
        <div class="carousel-inner center">
            <div class="carousel-item active">
                <img src="static/img/anya1.jpg" class="d-block justify-content-center" alt="Природа">
            </div>
            <div class="carousel-item">
                <img src="static/img/anya2.jpg" class="d-block justify-content-center" alt="Природа">
            </div>
            <div class="carousel-item">
                <img src="static/img/anya3.jpg" class="d-block justify-content-center" alt="Природа">
            </div>
            <div class="carousel-item">
                <img src="static/img/anya4.jpg" class="d-block justify-content-center" alt="Природа">
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    (function(){window['__CF$cv$params']={r:'6d9b23d42ee2167e',m:'DxcRiLloznpqSY_cxZnYzP1UbwCXjjvZTASgHMDqfJ4-1644221407-0-AZRXVdogOKpWDzjSOQ3FJaZmM0TtgvvXNNJAt93soRGcNRA65+VVJP4bsmW+dy/Kpp5cm0eWUrB6LJwykKoFPfW4BpRxsmY2X1vXRjVeM3yc4Gfy9uvCI3q57KHdob2mERbpT0ujrtQoNdcL+0gsH6/iMWOdsEjHyiuIF9JEAAHuIwReeLW56+lN1Ih+3ymTwg==',s:[0xf8ab7141a4,0xde3e5a9c2a],}})();

</script>
{% endblock %}