{% extends "base.html" %}

{% block content %}
<p></p>
<div class="container shadow-lg p-3 mb-5 background-2 rounded center">
    <h3 class="display-3 text-center h3-2">PhotoShare</h3>
    <a class="btn btn-color" href="/add_photo">Добавить фотографию</a>
    {% for x in photos %}
    <div class="row">
        {% for photo in x %}
        <div class="card" style="width: 300px; height: 350px; margin: auto; padding: 5px; margin-bottom: 16px">
            <img src="{{ photo[0] }}" class="card-img-top" alt="Picture">
            <div class="card-body">
                <h6 class="card-text h3-2">Author: {{ photo[3] }}</h6>
                <h6 class="card-text h3-2">Name: {{ photo[2] }}</h6>
                <h6 class="card-text h3-2">Info: {{ photo[1] }}</h6>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}